
html, body {
  overflow-x: hidden;
}

body {
  margin-top: 64px !important;
}

.larger-font {
  font-size: 20pt;
}

.clickable {
  cursor: pointer;
}

#sidenav-overlay {
  z-index: 1;
}

span.card-title {
  font-size: 24pt !important;
}
.card-content p {
  font-size: 10pt !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}