
///// COLOR

$primary-color: #4d4845;
$primary-color-light: #dbdada;
$primary-color-dark: #1e1c1b;

$secondary-color: #FFC107;


///// FONT

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

html, body {
  font-family: 'Open Sans';
  background: black;
  font-size: 12pt;
  color: #ffffff;
 
}
