
///// COLOR

$primary-color: #4d4845;
$primary-color-light: #dbdada;
$primary-color-dark: #1e1c1b;
$primary-color_lighter: #fefdfd;

$secondary-color: #FFC107;
$secondary-color-backup: #ffe082;

$footer-bg-color: $primary-color-dark;

//// Type Color

$type-on-white-primary: #262422;
$type-on-white-secondary: #7b7775;
$type-on-white-hint: #a19e9d;

$type-on-white-primary: #ffffff;
$type-on-white-secondary: #b3b3b3;
$type-on-white-hint: #4d4d4d;



///// FONT

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

$fa-font-path: "../bower_components/components-font-awesome/fonts" !default;

html, body {
  font-family: 'Open Sans';
  background: black;
  font-size: 12pt;
  color: #ffffff;
}
