
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="impressum--title">Impressum</div>

            <div class="impressum--information-text">
            Johannes Straka <br>
            Feldweg 8 <br>
            82343 Pöcking <br>
            <br>
            01577/4313518 <br>
            Johannes.Straka@posteo.de <br>
                <br>
            Str.-Id. 64 933 075 123
            </div>
            </div>
            <!--
                h1 -> 24pt / 14.5 10

            -->
        </div>
    </div>
</div>