
<div class="fullpage-parallax" show-once-background-loaded="img/Hintergrund_Home_b.jpg"></div>

<div class="fullpage-parallax-text">
    <div class="container">
        <div class="row">
            <div class="col s12">

                <div class="splash-text">
                    <span class="title">Hallo, Ich bin Johannes</span>
                    <br>
                    Ich studiere Industriedesign an der Hochschule München und arbeite freischaffend als Designer.
                    <br>
                    Nachhaltiges, nützliches und durchdachtes Design für die Lösung relevanter Probleme ist mein Gestaltungsleitbild.
                </div>

            </div>
        </div>
    </div>
    <i class="fa fa-chevron-down fa-2x clickable" ng-click="scrollDownOnePage()"></i>
</div>

<div class="home--content-box">
    <div class="container">
        <div class="row">

            <div class="col s12 m6 l5">
                <div class="card hoverable clickable" ng-click="projects()">
                    <div class="card-image">
                        <img alt="" src="img/Woodstock_card_a.jpg">
                        <span class="card-subtitle">
                            Projekte, die bereits abgeschlossen oder noch in Arbeit sind.
                        </span>
                        <span class="card-title">Was ich mache</span>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l5 offset-l1">
                <div class="card hoverable clickable" ng-click="me()">
                    <div class="card-image">
                        <img alt="" src="img/Hansi_a.jpg">
                        <span class="card-subtitle">
                            Information zu meiner Arbeitweise und mir.
                        </span>
                        <span class="card-title">
                            Wer ich bin
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer-directive></footer-directive>

</div>