
<div class="fullpage-parallax"></div>

<div class="fullpage-parallax-text">
    <div class="container">
        <div class="row">
            <div class="col s12">

                <div class="splash-text">
                    <span class="title">Hi I'm Johannes</span>
                    <br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                    dolot dolore magna aliquyam
                </div>

            </div>
        </div>
    </div>
    <i class="fa fa-chevron-down fa-2x clickable" ng-click="scrollDownOnePage()"></i>
</div>

<div class="home--content-box">
    <div class="container">
        <div class="row">

            <div class="col s12 m5 l4">
                <div class="card hoverable clickable" ng-click="projects()">
                    <div class="card-image">
                        <img alt="" src="img/Woodstock_card_a.jpg">
                        <span class="card-title">What I've done</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Projects that I have finished or are still in progress
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m5 offset-m1 l4 offset-l2">
                <div class="card hoverable clickable" ng-click="me()">
                    <div class="card-image">
                        <img alt="" src="img/Hansi_a.jpg">
                        <span class="card-title">
                            Who I am
                            <br>
                            and what I do
                        </span>
                    </div>
                    <div class="card-content">
                        <p>
                            Some Information about myself and my work
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>