
.fullpage-parallax {

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  background-image: url(../img/Hintergrund_Home_a.jpg);
  background-position: right;
}

.fullpage-parallax-text {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  height: 100vh;
  color: white;
}