.projects--title{
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 24pt;
    font-weight: 300 !important;
    border-left: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    width: 250px;
    animation-name: dropping-title;
    animation-duration: 2s;
}

@keyframes dropping-title{
    from{top: -78px};
    to{top: 0};
}

.projects--cards-wrapper{
    margin-top: 8vw;
    .card{
        background: none;
    }
    .card-image{
        background: none;
    }
    .card-content{
        color: black;
        background-color:white;
    }
}