.projects--title{
    position: relative;
    padding-top: 20px;
    padding-bottom: 6px;
    padding-left: 11px;
    font-size: 24pt;
    font-weight: 300 !important;
    border-left: 0.5px solid $secondary-color;
    border-bottom: 0.5px solid $secondary-color;
    width: 250px;
    animation-name: dropping-title;
    animation-duration: 2s;
}

@keyframes dropping-title{
    from{top: -78px}
    to{top: 0}
}

.projects--cards-wrapper{
    margin-top: 50px;
    .card{
        background: none;
        display: none;
        border: 1px solid darken($secondary-color, 30%);
    }
    .card-image{
        background: none;
    }
    .card-content{
        color: black;
        background-color:white;
    }
}