
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="projects--title">Projekte</div>
            <div class="row projects--cards-wrapper">

                <div class="col s12 m8 l5" ng-click="openProject(0)">
                    <div class="card hoverable clickable" ng-click="projects()">
                        <div class="card-image">
                            <img alt="" src="img/Woodstock_card_a.jpg">
                            <span class="card-title">Title</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Text
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m8 l5 offset-l1" ng-click="openProject(1)">
                    <div class="card hoverable clickable" ng-click="projects()">
                        <div class="card-image">
                            <img alt="" src="img/Woodstock_card_a.jpg">
                            <span class="card-title">Titel</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Text
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div id="imageModal" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="modal-footer">
        Penis
    </div>
</div>