<div class="projects--wrapper">

    <div class="container">
        <div class="row">
            <div class="col s12">

                <div class="projects--title">
                    <span class="grey-text">Projekte</span>
                    | {{project.title}}
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col s12 m8 project--left">

                <img ng-src="{{project.images[0].path}}">

            </div>

            <div class="col s12 m4 project--right">

                <h1>{{project.title}}</h1>

            </div>

        </div>

    </div>

</div>